:javascript
  $(function() {
    $('#versionsTable').dataTable({
      dom: 'C<"clear">lfrtip',
      "order": [[ 0, "desc" ]]
    });
  });
.row.tbl-header
  .col-xs-12
    %h4
      %a{href: url_for('/nodes')} nodes
      \/ Nodes that contain 
      %span " #{@to_research} "
  
.row
  .refresh-div
    %form
      %button.ColVis_Button{type: 'button', onclick: 'history.go();'}
        %span.glyphicon.glyphicon-repeat Refresh
  %table.table.table-responsive.tablesorter#versionsTable
    %thead
      %tr
        %th Name
        %th Configuration

    %tbody
      -trclass = %w(even odd)
      - @nodes_match.each do |x|
        %tr
          %td
            #{x[:node]}
          %td
            %a{title: 'configuration', href: url_for("/node/fetch/#{x[:full_name]}")}
              %span.glyphicon.glyphicon-cloud-download


