.row
  .col-8
    %h4
      %a{href: url_for('/nodes')} nodes
      \/ Nodes that contain 
      %b
        &= "#{@to_research}"
  .col-4
    %form.float-end#oxButtons
      %button.btn.btn-primary{type: 'button', onclick: 'history.go();'}
        %i.bi.bi-arrow-clockwise
        Refresh

.row
  .table-responsive
    %table.table.table-sm.table-striped.table-hover#versionsTable
      %thead
        %tr
          %th Name
          %th Configuration

      %tbody
        - @nodes_match.each do |x|
          %tr
            %td #{x[:node]}
            %td
              %a{title: 'configuration',
                 href: url_for("/node/fetch/#{x[:full_name]}")}
                %i.bi.bi-cloud-download

:javascript
  $(function() {
    $('#versionsTable').dataTable({
      autoWidth: false,
      "order": [[0, "asc"]]
    });
  });

