%head
  %meta{charset: 'utf-8'}
  %meta{:'meta-equiv' => 'X-UA-Compatible', content: 'IE=edge'}
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
  %title oxidized
  %link{rel: 'stylesheet', href: url_for('/css/bootstrap.min.css')}
  %link{rel: 'stylesheet', href: url_for('/css/oxidized.css')}
  %link{rel: 'stylesheet', href: url_for('/css/oxidized_custom.css')}
  %link{rel: 'shortcut icon', href: url_for('/images/favicon.ico')}
  %link{rel: 'stylesheet', href: url_for('/css/dataTables.colVis.css')}
  %link{rel: 'stylesheet', href: url_for('/css/dataTables.bootstrap.css')}
  %link{rel: 'stylesheet', href: url_for('/css/buttons.bootstrap.min.css')}
  %script{src: url_for('/scripts/jquery-2.1.1.min.js')}

