%html
  !=haml :head
  %body
    %header{:class=>'navbar navbar-static-top ox-nav', :role=>'navigation'}
      %div{:class=>'container'}
        %div{:class=>'navbar-header'}
          %div{:class=>'collapse navbar-collapse'}
            %a{:class=>'navbar-brand', :href=>url_for('/')}
              %img{:src=>url_for('/images/oxidizing_40px.png')} Oxidized
    %div{:class=>'container'}
      =yield
