!!! 5
%html{lang: 'en'}
  !=haml :head
  %body
    %nav.navbar.navbar-expand-lg.bg-body-tertiary.border-bottom.border-secondary-subtle.mb-4
      .container-fluid
        %a.navbar-brand{href: url_for('/')}
          %img{src: url_for('/images/oxidizing_40px.png')}
          Oxidized
        %button.navbar-toggler{type: 'button',
                                  :'data-bs-toggle' => 'collapse',
                                  :'data-bs-target' => '#ox-nav',
                                  :'aria-expanded'  => 'false',
                                  :'aria-label'     => 'Toggle navigation',
                                  :'aria-controls'  => '#ox-nav'}
          %span.navbar-toggler-icon
        .collapse.navbar-collapse#ox-nav
          %ul.navbar-nav.me-auto.mb-1
            %li.nav-item
              %a.nav-link{class: request.path_info == '/nodes/stats' ? 'active' : '',
                            :'aria-current' => request.path_info == '/nodes/stats' ? 'page' : 'false',
                            href: url_for('/nodes/stats')} Stats
          %form.d-flex{role: 'search',
                      action: url_for('/nodes/conf_search'),
                      method: 'post'}
            %input.form-control.me-2{type: 'text',
                                      name: 'search_in_conf_textbox',
                                      placeholder: 'Search in Configs',
                                      :'aria-label' => 'Search in Configs'}
            %button.btn.btn-primary{type: 'submit'}
              %i.bi.bi-search
          %button.btn.btn-outline-secondary.ms-2#theme-toggle{type: 'button', :'aria-label' => 'Toggle theme'}
            %i.bi.bi-moon-fill

    .container-fluid
      =yield
    !=haml :footer

