%h2
  RANCID to Oxidized
  %small router.db and Group Migration
%form.form-horizontal{method: 'post', enctype: 'multipart/form-data',
                      role: 'form'}
  .form-group
    %label.col-sm-3{for: 'path_new_file'}
      Oxidized router.db Path
    .col-sm-3
      %input.form-control{type: 'text', name: 'path_new_file',
                          placeholder: 'Path/to_file/here.db'}
  .form-group
    %label.col-sm-3{for: 'clogrinc'} .cloginrc File
    .col-sm-3
      .input-group
        %input.form-control{type: 'text'}
        %span.input-group-btn
          %span.btn.btn-default.btn-file
            %input{type: 'file', name: 'cloginrc'}
            Browse

  .form-group
    .col-sm-12
      .row
        %label.col-sm-3.label-control RANCID router.db File
        %label.col-sm-3.label-control Device Group
    .col-sm-12#rancid_routerdbs
      .row#rancidDb1
        .col-sm-3
          .input-group
            %input.form-control{type: 'text'}
            %span.input-group-btn
              %span.btn.btn-default.btn-file
                %input#file1{type: 'file', name: 'file1', required: ''}
                Browse
        .col-sm-3
          %input.form-control#group1{type: 'text', name: 'group1',
                                     value: 'default'}
      .row
        .col-sm-3
          %button.btn.btn-default#add{type: 'button'} Add More

  .form-group
    .col-sm-12
      %button.btn.btn-primary#upload_button{type: 'submit'} Migrate!

