-# --- New "Header" Card ---
.card.mb-4
  .row
    .col-sm-12
      %h4
        %a{href: url_for('/nodes')} nodes
        %span /
        =@data[:name]
        &nbsp;
        %a.link-dark.link-underline-opacity-0{title: 'configuration',
          href: url_for("/node/fetch/#{@data[:full_name]}")}
          %i.bi.bi-cloud-download
        %a.link-dark.link-underline-opacity-0{title: 'versions',
          href: url_for("/node/version?node_full=#{@data[:full_name]}")}
          %i.bi.bi-stack
        %a.link-dark.link-underline-opacity-0{title: 'update',
          href: url_for("/node/next/#{@data[:full_name]}")}
          %i.bi.bi-repeat

-# --- New "Data" Card ---
.card
  %pre
    %code
      =escape_once(JSON.pretty_generate(@data))
