[{
  "last": null,
  "status": "pending",
  "time": null,
  "ip": "192.168.33.30",
  "model": "Vyatta",
  "vars": {
    "enable": null
  },
  "name": "192.168.33.30",
  "full_name": "192.168.33.30",
  "group": "default"
},{
  "last": "2015-12-01T13:14:23Z",
  "status": "no_connection",
  "time": 1.23,
  "ip": "192.168.33.31",
  "model": "Junos",
  "vars": {
    "enable": "s3cr3t",
    "username": "admin",
    "password": "passw0rd"
  },
  "name": "rtr1.sfo.example.com",
  "full_name": "cows/rtr1.sfo.example.com",
  "group": "cows/default"
}, {
  "last": "2015-12-15T09:43:21Z",
  "status": "success",
  "time": 3.67,
  "ip": "192.168.33.32",
  "model": "Vyatta",
  "vars": {
    "enable": null
  },
  "name": "rtr2.sfo.example.com",
  "full_name": "rtr2.sfo.example.com",
  "group": "default"
}]
